#leamo-logo {
  padding: 7px 0 24px 0;
  width: 25%;
}

.menu-button {
  position: relative;
  bottom: 63px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #edededcf;
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav a {
  padding: 10px 10px 5px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(30, 30, 30);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #e3521a;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidenav.active {
  left: 0;
}

.sidenav .close-menu {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

hr {
  height: 12px;
  background-color: #eab81b;
}

#nav-section {
  padding: 20px 4px;
}
