.section-alterfood {
  background-color: #f9dfc9;
  color: #d95130;
}

.section-alterfood p {
  color: #131313;
}

#e-shop-button {
  background-color: #d95130;
  color: whitesmoke;
  font-weight: bold;
  a {
    text-decoration: none;
  }
}
