.section-alterfood-mobile {
  background-color: #f9dfc9;
  color: #d95130;
  margin-bottom: 30px;
}

#tensai-sous-titre {
  display: flex;
  justify-content: center;
}

#tensai-titre {
  display: flex;
  justify-content: center;
}

#image-alterfood {
  position: relative;
  right: 10px;
  width: 460px;
  margin-bottom: 45px;
}

.section-alterfood-mobile p {
  position: relative;
  left: 15px;
  color: #131313;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 41px;
}

#e-shop-button {
  background-color: #d95130;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 60px;
  a {
    text-decoration: none;
  }
}

.section-alterfood-laptop {
  background-color: #f9dfc9;
  color: #d95130;
  margin-bottom: 30px;
}
