#cocktails-titre {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 26px;
}

#image-cocktails {
  width: 100%;
}

.section-cocktails-mobile {
  background-color: #f7a36c;
  color: whitesmoke;
}

#cocktails-texte {
  text-align: center;
  margin-bottom: 26px;
}

#cocktails-button {
  background-color: whitesmoke;
  color: #da6126;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 53px;
  a {
    text-decoration: none;
  }
}

#banner-image {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    animation-name: slidein;
    animation-duration: 3s;
    animation-iteration-count: unset;
  }
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.section-cocktails-laptop {
  background-image: url(/src/img/background-cocktails.webp);
  background-size: 90%;
  padding-top: 50px;
  color: whitesmoke;
}

#cocktails-titre-laptop {
  margin-top: 102px;
  margin-bottom: 26px;
}

#cocktails-texte-laptop {
  p {
    font-size: 18px;
  }
  margin-bottom: 26px;
}

#cocktails-button-laptop {
  background-color: whitesmoke;
  color: #da6126;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 53px;
  a {
    text-decoration: none;
  }
}
