#leamo-titre {
  color: whitesmoke;
}

.intro-leamo {
  width: 450px;
  background-color: #f496a9;
  margin-bottom: 24px;
}

#image-leamo {
  width: 390px;
  position: relative;
  right: 95px;
}

#texte-leamo {
  margin-bottom: 42px;
}

#assortiment-button {
  background-color: #f496a9;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 40px;
  a {
    text-decoration: none;
  }
}

#leamo-titre-laptop {
  h1 {
    font-size: 50px;
  }
  color: #f496a9;
  margin: 180px 0 40px 0px;
}

#image-leamo-laptop {
  width: 500px;
  margin-top: 43px;
  position: relative;
  right: 25px;
}

#texte-leamo-laptop {
  p {
    font-size: 18px;
  }
  margin-bottom: 40px;
}

#assortiment-button-laptop {
  background-color: #f496a9;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 170px;
  a {
    font-size: 18px;
    text-decoration: none;
  }
}
