#engagement-section {
  text-align: center;
}

#engagement-titre {
  color: #f5921d;
  margin-top: 12px;
  margin-bottom: 27px;
  text-align: center;
}

#texte-engagement {
  margin-top: 14px;
  margin-bottom: 30px;
}

#savoir-plus-button {
  background-color: #f5921d;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 57px;
  a {
    text-decoration: none;
  }
}

#engagement-titre-laptop {
  position: relative;
  left: 250px;
  display: flex;
  justify-content: end;
  color: #f5921d;
  margin-top: 12px;
  margin-bottom: 27px;
  text-align: right;
}

#texte-engagement-laptop {
  margin-top: 14px;
  margin-bottom: 30px;
  text-align: end;
}

#savoir-plus-button-laptop {
  position: relative;
  left: 250px;
  display: flex;
  justify-content: end;
  background-color: #f5921d;
  color: whitesmoke;
  font-weight: bold;
  a {
    text-decoration: none;
  }
}

#image-engagement-laptop {
  width: 700px;
}
