#leamo-titre {
  h1 {
    z-index: 2;
    font-size: 50px;
  }
  margin: 11px 0 0 14px;
  color: whitesmoke;
}

.intro-leamo {
  width: 500px;
  height: 545px;
  background-color: #f496a9;
}

#image-leamo {
  z-index: 1;
  width: 450px;
  position: relative;
  bottom: 40px;
  right: 120px;
}

#texte-leamo {
  margin: 24px 20 36px 26px;
}

#assortiment-button {
  background-color: #f496a9;
  color: whitesmoke;
  border-radius: 15px;
  font-weight: bold;
  margin: 0 0 40px 26px;
  a {
    text-decoration: none;
  }
}

.leamo-laptop {
  position: relative;
}

#leamo-titre-laptop {
  h1 {
    font-size: 50px;
  }
  position: relative;
  left: 45px;
  color: #f496a9;
  margin: 180px 0 40px 0px;
}

#image-leamo-laptop {
  z-index: 2;
  position: relative;
  bottom: 90px;
  width: 95%;
}

#décoration-jaune-2 {
  z-index: 3;
  width: 200px;
}

#décoration-jaune {
  z-index: 3;
  width: 150px;
  position: relative;
  bottom: 130px;
}

#texte-leamo-laptop {
  p {
    font-size: 18px;
  }
  margin-bottom: 40px;
}

#assortiment-button-laptop {
  background-color: #f496a9;
  color: whitesmoke;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 140px;
  a {
    font-size: 18px;
    text-decoration: none;
  }
}
