.section-cocktails {
  background-color: #f7a36c;
  color: whitesmoke;
}

#cocktails-button {
  background-color: whitesmoke;
  color: #da6126;
  font-weight: bold;
  a {
    text-decoration: none;
  }
}
