#leamo-titre {
  color: whitesmoke;
}

.intro-leamo {
  background-color: #f496a9;
}

#assortiment-button {
  background-color: #f496a9;
  color: whitesmoke;
  font-weight: bold;
  a {
    text-decoration: none;
  }
}
