@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
body {
  background-color: #fefbf7;
  font-family: "Graphik";
}

h1 {
  font-family: "Climate Crisis";
  font-size: 30px;
}

h2 {
  font-size: 12px;
}

p {
  font-size: 13px;
}

.boutton {
  padding: 10px;
}
