@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
body {
  background-color: #fefbf7;
  font-family: "Graphik";
  color: #131313;
}

img {
  width: 100%;
}

h1 {
  font-family: "Climate Crisis";
  font-size: 35px;
}

h2 {
  font-size: 12px;
  font-weight: lighter;
}

p {
  font-size: 14px;
}

.button {
  padding: 5px 4px;
  border-radius: 20%;
  text-align: center;
  font-size: 16px;
}
