.nav {
  display: none;
}

@media (min-width: 800px) {
  .nav {
    display: block;
  }
}

.menu-mobile {
  display: block;
}

@media (min-width: 800px) {
  .menu-mobile {
    display: none;
  }
}

.leamo-mobile {
  display: block;
}

@media (min-width: 800px) {
  .leamo-mobile {
    display: none;
  }
}

.leamo-laptop {
  display: none;
}

@media (min-width: 800px) {
  .leamo-laptop {
    display: block;
  }
}

.engagement-section-laptop {
  display: none;
}

@media (min-width: 800px) {
  .engagement-section-laptop {
    display: block;
  }
}

.engagement-section-mobile {
  display: block;
}

@media (min-width: 800px) {
  .engagement-section-mobile {
    display: none;
  }
}

.section-cocktails-laptop {
  display: none;
}

@media (min-width: 800px) {
  .section-cocktails-laptop {
    display: block;
  }
}

.section-cocktails-mobile {
  display: block;
}

@media (min-width: 800px) {
  .section-cocktails-mobile {
    display: none;
  }
}

.section-alterfood-mobile {
  display: block;
}

@media (min-width: 800px) {
  .section-alterfood-mobile {
    display: none;
  }
}

.section-alterfood-laptop {
  display: none;
}

@media (min-width: 800px) {
  .section-alterfood-laptop {
    display: block;
  }
}

.selection-mobile {
  display: block;
}

@media (min-width: 800px) {
  .selection-mobile {
    display: none;
  }
}

.selection-laptop {
  display: none;
}

@media (min-width: 800px) {
  .selection-laptop {
    display: block;
  }
}

.moodrefresh-mobile {
  display: block;
}

@media (min-width: 800px) {
  .moodrefresh-mobile {
    display: none;
  }
}

.moodrefresh-laptop {
  display: none;
}

@media (min-width: 800px) {
  .moodrefresh-laptop {
    display: block;
  }
}

.ingredient-mobile {
  display: block;
}

@media (min-width: 800px) {
  .ingredient-mobile {
    display: none;
  }
}

.ingredient-laptop {
  display: none;
}

@media (min-width: 800px) {
  .ingredient-laptop {
    display: block;
  }
}

.footer-mobile {
  display: block;
}

@media (min-width: 800px) {
  .footer-mobile {
    display: none;
  }
}

.footer-laptop {
  display: none;
}

@media (min-width: 800px) {
  .footer-laptop {
    display: block;
  }
}
