.nav {
  display: none;
}

@media (min-width: 850px) {
  .nav {
    display: block;
  }
}

.menu-mobile {
  display: block;
}

@media (min-width: 800px) {
  .menu-mobile {
    display: none;
  }
}

.leamo-mobile {
  display: block;
}

@media (min-width: 800px) {
  .leamo-mobile {
    display: none;
  }
}

.leamo-laptop {
  display: none;
}

@media (min-width: 800px) {
  .leamo-laptop {
    display: block;
  }
}

.engagement-section-laptop {
  display: none;
}

@media (min-width: 800px) {
  .engagement-section-laptop {
    display: block;
  }
}

.engagement-section-mobile {
  display: block;
}

@media (min-width: 800px) {
  .engagement-section-mobile {
    display: none;
  }
}
